@import url("reset.css");

/* =============== VARIABLES =============== */
:root {
  /* ----- Colors ----- */
  --color-primary: #003781;
  --color-secondary: #006192;
  --color-secondary-action: #008ed6;
  /* --color-secondary-action: #007ab3; */
  --color-white: #ffffff;
  --color-text-strong: #414141;
  --color-text-medium: #5b5b5b;
  --color-text-light: #767676;

  /* ----- Fonts & Typography ----- */

  /* ----- Length values ----- */
  
  /* ----- Other values ----- */
}

/* =============== BASE =============== */

/* =============== REUSABLE CLASSES =============== */

/* =============== HEADER & NAV =============== */

/* =============== MAIN =============== */

/* =============== FOOTER =============== */
