@import url("reset.css");

/* =============== VARIABLES =============== */
:root {
  --color-primary: #003781;
  --color-secondary: #006192;
  --color-secondary-action: #008ed6;
  --color-secondary-action-2: #007ab3;
  --color-primary-strong: #081e5a;
  --color-tertiary: #cfe9ee;
  --color-blue-light: #f1f9fa;
  --color-white: #ffffff;
  --color-text-strong: #414141;
  --color-text-medium: #5b5b5b;
  --color-text-light: #767676;
  --color-text-hover: #c2c2c2;
  --color-gray-light: #ececec;
  --color-gray-lighter: #f5f5f5;
  --color-orange: #dd8440;
  --color-red: #e82727;

  /* ----- Shadow ----- */
  --shadow-color: #6767671a;
  --shadow-low: 0px 1px 1.1px var(--shadow-color),
    0px 1.6px 1.8px -1.2px var(--shadow-color),
    0px 3.9px 4.4px -2.5px var(--shadow-color);

  /* ----- Fonts & Typography ----- */
  --font-primary: "Sarabun", sans-serif;
  --font-logo: "Philosopher", sans-serif;

  --font-size-main: 18px;
  --font-weight-thin: 300;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --letter-spacing-wide: 1px;

  /* ----- Length values ----- */
  --max-width: min(100%, 1120px);
  --padding-inline: 16px;
  --padding-inline-pc: 32px;
  --nav-heigth: 64px;
  --vertical-gap: 48px;

  /* ----- Other values ----- */
  --transition: 500ms cubic-bezier(0.33, 1, 0.68, 1);
  --border-radius-small: 0.3rem;
  --border-radius-medium: 0.5rem;
  --border-radius-big: 1rem;
}

/* =============== BASE =============== */
body {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h1,
h2,
h3 {
  hyphens: none;
  font-weight: var(--font-weight-bold);
}

/* =============== REUSABLE CLASSES =============== */
.wrapper {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.logo {
  font-family: var(--font-logo);
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  gap: 6px;
  cursor: pointer;
}

.h1 {
  font-size: 40px;
  line-height: 48px;
}

.h2 {
  font-size: 35px;
  line-height: 40px;
}

.h3 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.hover-blue {
  transition: color var(--transition);
}

.hover-blue:hover {
  color: var(--color-secondary-action);
}

.read-link {
  text-transform: uppercase;
  font-size: initial;
  letter-spacing: var(--letter-spacing-wide);
  font-weight: var(--font-weight-medium);
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
}

.read-link svg {
  vertical-align: -7px;
}

.btn {
  border-radius: var(--border-radius-small);
  text-transform: uppercase;
  font-size: initial;
  font-weight: var(--font-weight-medium);
  padding: 0.8rem 2rem;
  transition: background-color var(--transition);
}

/* =============== HEADER & NAV =============== */
.header {
  display: flex;
  flex-direction: column;
}

.nav-pc {
  display: none;
}

.nav-mobile {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
}

.header img {
  width: 1.5rem;
}

.nav-top {
  position: relative;
  background-color: var(--color-white);
  border-block-end: thin solid var(--color-gray-light);
  z-index: 20;
}

.nav-top-menu {
  height: var(--nav-heigth);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top-btns {
  display: flex;
  gap: 1.5rem;
}

.nav-bottom {
  display: flex;
  justify-content: flex-end;
  padding-block: 4px;
}

.nav-bottom.mobile-scroll {
  box-shadow: var(--shadow-low);
}

.location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 2;
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-wide);
}

.nav-bottom-menu {
  transform: translateY(-200%);
  width: 100%;
  max-height: calc(100vh - var(--nav-heigth));
  top: var(--nav-heigth);
  padding-inline: var(--padding-inline);
  position: absolute;
  background-color: var(--color-gray-lighter);
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: var(--color-text-strong);
  font-weight: var(--font-weight-thin);
  transition: transform var(--transition);
  overflow-y: auto;
}

.nav-bottom-menu.open {
  transform: translateY(0);
}

.nav-bottom-menu > * {
  margin-block: 1.5rem;
  cursor: pointer;
}

.language a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language img {
  width: 1rem;
}

.nav-bottom-menu a::after {
  content: "";
  position: absolute;
  right: var(--padding-inline);
  border: solid var(--color-text-strong);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
}

.banner {
  background-color: var(--color-primary);
  background-image: url(/assets/img/banner-mobile.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-block-start: calc(var(--nav-heigth) + 40.8px);
}

/* =============== MAIN =============== */
.main {
  font-size: var(--font-size-main);
}

/* two articles */
.article-one,
.article-two .wrapper {
  padding-block: var(--vertical-gap);
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.article-one {
  color: var(--color-primary);
}

.article-two {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.article-two .read-link:hover {
  color: var(--color-text-hover);
}

/* spotligth */
.spotlight {
  background-color: var(--color-blue-light);
}

.spotlight .wrapper {
  padding-block: var(--vertical-gap);
}

.spotlight-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spotlight-card {
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.spotlight-grid {
  padding-block: 40px;
}

.spotlight-grid-row {
  display: flex;
  flex-direction: column;
}

.spotlight-grid-row article {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.spotlight-grid-row h3 {
  font-weight: var(--font-weight-thin);
}

.spotlight-grid-row p {
  font-size: initial;
}

.spotlight-grid-row img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.spotlight-grid-row:first-child article:first-of-type,
.spotlight-grid-row:last-child article:last-of-type {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.spotlight-grid-row:first-child article:nth-of-type(2) {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.spotlight-grid-row:last-child article:first-of-type {
  background-color: var(--color-secondary-action-2);
  color: var(--color-white);
}

/* podcast */
.podcast {
  padding-block: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.podcast-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.podcast-card {
  border: thin solid var(--color-text-strong);
  border-radius: var(--border-radius-big);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.podcast-card-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.block1 {
  width: 200px;
  height: 200px;
  background-color: var(--color-primary-strong);
  border-radius: var(--border-radius-medium);
  align-self: center;
  color: var(--color-white);
  text-align: left;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.block1 p:nth-child(1) {
  font-size: initial;
  font-weight: 700;
  font-family: var(--font-logo);
  margin-block-end: auto;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.block1 p:nth-child(2) {
  color: var(--color-orange);
  font-size: 34px;
  margin-block-end: 0.4rem;
}

.block1 p:last-of-type {
  font-size: 12px;
  line-height: 16px;
  font-weight: 100;
}

.block2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.block2 a {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--color-text-strong);
  font-weight: 900;
  font-size: inherit;
  transition: color var(--transition);
}

.block2 a:hover {
  color: var(--color-primary);
}

.block2 button {
  background-color: var(--color-primary-strong);
  color: var(--color-white);
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius-medium);
  font-size: 1.1em;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.block2 button:hover {
  background-color: var(--color-primary);
}

.podcast-card-bottom {
  font-size: 15px;
  font-weight: 900;
  color: var(--color-text-strong);
}

.podcast-card-bottom a {
  display: flex;
  gap: 0.2rem;
  width: fit-content;
}

.podcast-card-bottom svg {
  transition: fill var(--transition);
}

.podcast-card-bottom a:hover svg {
  fill: var(--color-red);
}

.podcast-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* news */
.news {
  background-color: var(--color-blue-light);
}

.news .wrapper {
  padding-block: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-container article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-container article h3 {
  font-weight: var(--font-weight-thin);
}

.news-container article p {
  font-size: inherit;
  font-weight: var(--font-weight-thin);
}

.news-container article a {
  align-self: center;
}

.news button {
  background-color: var(--color-secondary-action-2);
  color: var(--color-white);
}

.news button:hover {
  background-color: var(--color-secondary);
}

/* investor */
.investor {
  padding-block: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.investor-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.investor-img {
  flex: 1;
}

.graph {
  font-size: 14px;
  flex: 1;
}

.graph p {
  line-height: 18px;
  color: var(--color-text-strong);
}

.graph img {
  width: 250px;
}

/* calendar */
.calendar {
  background-color: var(--color-blue-light);
}

.calendar .wrapper {
  padding-block: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calendar-img {
  flex: 1;
}

.calendar-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

/* stay up */
.stay-up {
  padding-block: var(--vertical-gap);
}

.stay-up-container {
  margin-block-start: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  justify-content: center;
}

.stay-up-container article {
  width: calc(50% - 2px);
  height: fit-content;
  background-color: var(--color-blue-light);
  border: thin solid var(--color-text-light);
  font-size: 0.8em;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.stay-up-container article p + p {
  margin-block-start: 1rem;
}

.stay-up-container article::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.stay-up-container article::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 7rem;
  background: linear-gradient(to bottom, transparent, #f1f9fa 90%);
}

.stay-up-container article .content {
  padding: 1rem;
  position: absolute;
  inset: 0;
}

.stay-up-container article span {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 1;
  font-weight: var(--font-weight-thin);
  color: var(--color-text-medium);
  display: flex;
  gap: 6px;
}

.stay-up-container article:nth-of-type(3) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.stay-up-container article:nth-last-of-type(3):after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 5rem;
  background: linear-gradient(to bottom, transparent, #003781 90%);
}

.stay-up-container article:nth-of-type(3) span {
  color: var(--color-white);
}

/* links */
.links {
  background-color: var(--color-blue-light);
}

.links .wrapper {
  padding-block: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.links-container article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.links-image {
  width: 26%;
  border: 3px solid var(--color-primary);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

/* find */
.find {
  padding-block: var(--vertical-gap);
  background-color: var(--color-primary);
}

.find .wrapper {
  color: var(--color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.find button {
  background-color: var(--color-white);
  color: var(--color-secondary);
  width: 100%;
}

.find button:hover {
  background-color: var(--color-text-hover);
}

/* =============== FOOTER =============== */
.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-links {
  background-color: var(--color-gray-lighter);
}

.footer-links-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: var(--font-weight-medium);
  color: var(--color-text-medium);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block-end: thin solid var(--color-text-hover);
}

.footer-links-title img {
  width: 32px;
}

.footer-links ul {
  padding-inline: var(--padding-inline);
  color: var(--color-text-medium);
  font-size: 16px;
  padding-block: 1rem;
  background-color: var(--color-white);
  display: none;
}

.footer-links ul.show {
  display: block;
}

.footer-links ul li {
  margin-block-end: 1rem;
}

/* =============== BREAKPOINTS =============== */
@media screen and (min-width: 620px) {
  .podcast-card-top {
    flex-direction: row;
    gap: 0.6rem;
  }

  .block2 {
    justify-content: space-between;
  }

  .block2 a {
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 700px) {
  .h1 {
    font-size: 54px;
    line-height: 60px;
  }

  .h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .h3 {
    font-size: 30px;
    line-height: 38px;
  }

  .wrapper {
    padding-inline: var(--padding-inline-pc);
  }

  .nav-mobile {
    display: none;
  }

  .nav-pc::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-light);
    position: absolute;
    top: var(--nav-heigth);
    z-index: 30;
  }

  .nav-pc {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .nav-top-pc {
    width: 100%;
    height: var(--nav-heigth);
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-top-pc > *:first-child {
    margin-inline-end: auto;
  }

  .language a {
    gap: 0.8rem;
  }

  .language > a > span {
    font-weight: var(--font-weight-medium);
    position: relative;
  }

  .language > a > span::after {
    content: "";
    width: 2px;
    height: 1rem;
    background-color: var(--color-gray-light);
    position: absolute;
    bottom: 2px;
    right: -0.4rem;
  }

  .nav-bottom-pc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .nav-bottom-pc ul {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2rem;
    color: var(--color-text-strong);
  }

  .nav-bottom-pc li {
    padding-block: 2rem;
  }

  .nav-bottom-pc li a {
    -webkit-text-stroke: 0.5px transparent;
  }

  .nav-bottom-pc li:hover a {
    color: var(--color-secondary);
    -webkit-text-stroke: 0.5px var(--color-secondary);
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
  }

  .search-btn {
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    letter-spacing: var(--letter-spacing-wide);
  }

  .banner {
    margin-block-start: 0;
  }

  .spotlight-cards {
    flex-direction: row;
    gap: 2rem;
  }

  .spotlight-grid-row {
    flex-direction: row;
    width: 100%;
  }

  .spotlight-grid-row:first-child > * {
    width: 100%;
  }

  .spotlight-grid-row:last-child > * {
    width: 25%;
  }

  .spotlight-grid-row article {
    padding: 1.5rem 2rem;
  }

  .podcast-container {
    flex-direction: row;
    gap: 2rem;
  }

  .podcast-card {
    width: 70%;
  }

  .podcast-text {
    width: 30%;
  }

  .podcast-card-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .news-container {
    flex-direction: row;
    gap: 2rem;
  }

  .news-container article {
    width: 33%;
    padding: 0;
  }

  .news-container article a {
    align-self: auto;
  }

  .news button {
    width: fit-content;
    margin-inline: auto;
  }

  .investor {
    flex-direction: row;
    gap: 2rem;
  }

  .calendar .wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  .stay-up-container article {
    width: calc((100% / 3) - 2px);
  }

  .links-container {
    flex-flow: row wrap;
    gap: 4rem 2rem;
  }

  .links-container article {
    width: calc((100% / 2) - 1rem);
  }

  .find button {
    width: fit-content;
  }
}

@media screen and (min-width: 960px) {
  .banner {
    background-image: url(/assets/img/banner.webp);
    height: 500px;
    background-position: center 20%;
  }

  .podcast-card {
    width: 65%;
  }

  .podcast-text {
    width: 35%;
  }

  .podcast-card-top {
    flex-direction: row;
    gap: 0.6rem;
  }

  .stay-up-container article {
    width: calc((100% / 4) - 2px);
  }

  .links-container article {
    width: calc((100% / 4) - 1.5rem);
    text-align: center;
  }

  .links-image {
    width: 40%;
  }

  .links h3 {
    font-size: 24px;
    line-height: 32px;
  }
}
